<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <img th:src="@{http://openweathermap.org/img/wn/{icon}@4x.png(icon=${cityWeather.image})}"/>
    <!-- @{http://openweathermap.org/img/wn/{icon}@4x.png(icon=${lInfo.weather.icon})} -->
    <p>Temperature: <span th:text="${cityWeather.temperature}"></span></p>
    <p>Min-temperature: <span th:text="${cityWeather.minTemp}"></span></p>
    <p>Max-temperature: <span th:text="${cityWeather.maxTemp}"></span></p>
    <p>Humidity: <span th:text="${cityWeather.humidity}"></span></p>
</body>
</html>